* {
    box-sizing: border-box;
}

#about {
    display: flex;
    justify-content: space-between;
}

#left_column {
    flex-basis: 40vw;

    vertical-align: top;
}

#right_column {
    flex-basis: 25vw;
}

#education_list {
    list-style: none;

    font-size: 1.25vw;

    margin: 0;

    padding: 0;
}

.education_ucsd, .education_purdue {
    display: flex;

    height: 4vw;

    padding: 1%;
}

.education_ucsd {
    border-color: #182B49;
}

.education_logo {
    width: 25%;
}

.education_logo_img {
    height: 100%;
    width: auto;
}

.education_degree, .education_dates {
    padding: 0.5%;
}

.education_degree {
    flex-grow: 1;
}
