{% comment %} TODO: Make this collapsed by default and then expandable. {% endcomment %}
<h5>References</h5>
<div class="bib-blog">
    {% bibliography --cited --file genesys.bib --template {{ reference }} %}
</div>
