{%- assign card = include.card -%}
{%- assign card_url = include.url | default: card.url -%}
{%- assign card_icon = include.icon | default: card.icon | default: card.logo -%}
{%- assign card_title = include.title | default: card.title -%}
{%- assign card_description = include.description | default: card.description -%}

<div class="col-xs-12 col-md-4 icon-card-col">
    <a class="icon-card-link" href="{{ card_url | escape }}">
        <div class="panel panel-default hover-shadow-panel icon-card">
            <div class="panel-heading projects-panel-head text-center">
                <i class="{{ card_icon | escape }} icon-card-icon" aria-hidden="true"></i>
            </div>
            <div class="panel-body icon-card-body">
                {% if card_title %}
                    <p class="icon-card-title">{{ card_title | escape }}</p>
                {% endif %}
                <p>{{ card_description | escape }}</p>
            </div>
        </div>
    </a>
</div>
