<div class="col-xs-12 col-md-4 social-panel-col">
    <div class="panel panel-default hover-shadow-panel social-panel">
        <div class="panel-heading projects-panel-head text-center">
            <a class="contact-social-icon-link" href={{ social[1].url }}><i class="{{ social[1].logo }} contact-social-icon"></i></a>
        </div>
        <div class="panel-body">
            <p>{{ social[1].description }}</p>
        </div>
    </div>
</div>
