.icon-card-link
    .icon-card-icon
        color: $contact-social-icon-color

    &:visited .icon-card-icon
        color: $contact-social-icon-visited-color

    &:hover .icon-card-icon
        color: $contact-social-icon-hover-color

    &:active .icon-card-icon
        color: $contact-social-icon-hover-color
