.projects-panel
    .projects-panel-head
        background-color: $projects-panel-head-color

.projects-panel-head-title
    font-size: $base-font-size * 1.5
    font-weight: bold
    margin-bottom: 5px

.projects-panel-head-links

.projects-panel-head-icon
    font-size: 25px
