---
layout: base
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {{ content }}
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="/assets/{{ page.headshot }}" alt="Headshot of Christopher Priebe" class="img-responsive img-rounded">
        </div>
    </div>
</div>
