---
layout: base
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ content }}
            <hr>
        </div>
    </div>
    <div class="row icon-card-grid">
        {% for card in page.cards %}
            {% include icon_card.liquid card=card %}
        {% endfor %}
    </div>
</div>
